### ACS-DF Wrangled

In [2]:
import pandas as pd
import numpy as np
acs_df = pd.read_csv('/kaggle/input/datathon/acs_5yr_est_selected_economic_characteristics_2010-2022.csv')

In [3]:
acs_df['Label (Grouping)'] = acs_df['Label (Grouping)'].str.strip()

In [4]:
def get_header_indices(df):
    return df.index[df['Category'] == 'Header'].tolist()

header_indices = get_header_indices(acs_df)

split_dataframes = []

for i, start_index in enumerate(header_indices):
    if i < len(header_indices) - 1:
        end_index = header_indices[i + 1]
    else:
        end_index = len(acs_df)
    
    segment_df = acs_df[start_index:end_index]
    
    header_value = segment_df.iloc[0]['Label (Grouping)']
    
    segment_df = segment_df.drop(index=start_index).reset_index(drop=True)
    
    segment_df['Segment'] = header_value
    
    split_dataframes.append(segment_df)

split_df = pd.concat(split_dataframes).reset_index(drop=True)

split_df.head()

,Label (Grouping),Category,State,Estimate,Margin of Error,Percent,Percent Margin of Error,Year,Segment
0,Population 16 years and over,EMPLOYMENT STATUS,Alabama,"3,714,504","±1,588","3,714,504",(X),2010,EMPLOYMENT STATUS
1,In labor force,EMPLOYMENT STATUS,Alabama,"2,246,848","±5,576",60.5%,±0.1,2010,EMPLOYMENT STATUS
2,Civilian labor force,EMPLOYMENT STATUS,Alabama,"2,230,879","±5,531",60.1%,±0.1,2010,EMPLOYMENT STATUS
3,Employed,EMPLOYMENT STATUS,Alabama,"2,036,867","±5,904",54.8%,±0.2,2010,EMPLOYMENT STATUS
4,Unemployed,EMPLOYMENT STATUS,Alabama,"194,012","±3,179",5.2%,±0.1,2010,EMPLOYMENT STATUS

In [5]:
acs_dict = {}

In [6]:
unique_headers = list(acs_df[acs_df['Category'] == 'Header']['Label (Grouping)'].unique())
unique_headers

['EMPLOYMENT STATUS',
 'COMMUTING TO WORK',
 'OCCUPATION',
 'INDUSTRY',
 'CLASS OF WORKER',
 'INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)',
 'HEALTH INSURANCE COVERAGE',
 'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL',
 'INCOME AND BENEFITS (IN 2011 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2013 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2012 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2016 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2017 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2015 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2014 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2019 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2022 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2020 INFLATION-ADJUSTED DOLLARS)',
 'INCOME AND BENEFITS (IN 2021 INFLATION-ADJUSTED DOLLARS)']

In [7]:
for header in unique_headers:
    acs_dict[header] = split_df[split_df['Segment'] == header]

In [8]:
acs_dict['COMMUTING TO WORK']
#acs-dict is a mapping of the dataframe you want based on the header
#just type the header key in acs_dict to retrieve respective df

,Label (Grouping),Category,State,Estimate,Margin of Error,Percent,Percent Margin of Error,Year,Segment
17,Workers 16 years and over,COMMUTING TO WORK,Alabama,"2,000,289","±6,235","2,000,289",(X),2010,COMMUTING TO WORK
18,"Car, truck, or van -- drove alone",COMMUTING TO WORK,Alabama,"1,672,185","±7,114",83.6%,±0.2,2010,COMMUTING TO WORK
19,"Car, truck, or van -- carpooled",COMMUTING TO WORK,Alabama,"222,349","±3,524",11.1%,±0.2,2010,COMMUTING TO WORK
20,Public transportation (excluding taxicab),COMMUTING TO WORK,Alabama,"9,062",±673,0.5%,±0.1,2010,COMMUTING TO WORK
21,Walked,COMMUTING TO WORK,Alabama,"25,007","±1,487",1.3%,±0.1,2010,COMMUTING TO WORK
...,...,...,...,...,...,...,...,...,...
92495,Public transportation (excluding taxicab),COMMUTING TO WORK,Puerto Rico,"13,698","±1,015",1.3%,±0.1,2021,COMMUTING TO WORK
92496,Walked,COMMUTING TO WORK,Puerto Rico,"25,891","±1,478",2.5%,±0.1,2021,COMMUTING TO WORK
92497,Other means,COMMUTING TO WORK,Puerto Rico,"17,311","±1,237",1.7%,±0.1,2021,COMMUTING TO WORK
92498,Worked from home,COMMUTING TO WORK,Puerto Rico,"42,947","±1,963",4.2%,±0.2,2021,COMMUTING TO WORK
92499,Mean travel time to work (minutes),COMMUTING TO WORK,Puerto Rico,28.6,±0.2,(X),(X),2021,COMMUTING TO WORK

### American health and obesity df Wrangled

In [12]:
nutrition_dataset = pd.read_csv('/kaggle/input/datathon/Nutrition_Physical_Activity_and_Obesity_Data.csv')
nutrition_dataset

/tmp/ipykernel_33/2079756566.py:1: DtypeWarning: Columns (18,19,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  nutrition_dataset = pd.read_csv('/kaggle/input/datathon/Nutrition_Physical_Activity_and_Obesity_Data.csv')

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2019,2019,AK,Alaska,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q048,VALUE,2,Race/Ethnicity,Asian,RACE,RACEASN
1,2019,2019,AZ,Arizona,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(34.86597028, -111.763811277)",OWS,OWS1,Q038,VALUE,4,Total,Total,OVR,OVERALL
2,2019,2019,DC,District of Columbia,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(38.890371385, -77.031961127)",OWS,OWS1,Q038,VALUE,11,Total,Total,OVR,OVERALL
3,2019,2019,IL,Illinois,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who partici...,NaN,Value,...,"(40.485010283, -88.997710178)",PA,PA1,Q049,VALUE,17,Grade,10th,GRADE,GRADE10
4,2019,2019,MD,Maryland,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have an...,NaN,Value,...,"(39.290580964, -76.609260111)",OWS,OWS1,Q039,VALUE,24,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133340,2022,2022,WY,Wyoming,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",OWS,OWS1,Q037,VALUE,56,Income,"Less than $15,000",INC,INCLESS15
133341,2022,2022,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Education,Less than high school,EDU,EDUHS
133342,2022,2022,WY,Wyoming,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",OWS,OWS1,Q036,VALUE,56,Age (years),35 - 44,AGEYR,AGEYR3544
133343,2022,2022,WY,Wyoming,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",OWS,OWS1,Q037,VALUE,56,Income,"$35,000 - $49,999",INC,INC3550
133344,2022,2022,WY,Wyoming,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",OWS,OWS1,Q036,VALUE,56,Education,Less than high school,EDU,EDUHS

In [10]:
#removal of redundant features

In [13]:
nutrition_dataset.drop(columns = ['Data_Value_Alt','Class','ClassID','Datasource','Data_Value_Unit', 'YearEnd','LocationAbbr','Data_Value_Type', 'DataValueTypeID', 'Data_Value_Footnote_Symbol'], inplace=True)
nutrition_dataset.drop(columns = ['StratificationCategory1', 'Stratification1', 'StratificationCategoryId1', 'StratificationID1'], inplace=True)

In [14]:
obesity_tickers = ['Q038', 'Q039', 'Q036','Q037']
#filter based on these tickers to fetch obesity related data
obesity_df = nutrition_dataset[nutrition_dataset['QuestionID'].isin(obesity_tickers)]
obesity_df

,YearStart,LocationDesc,Topic,Question,Data_Value,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Total,Age(years),Education,Gender,Grade,Income,Race/Ethnicity,GeoLocation,TopicID,QuestionID,LocationID
1,2019,Arizona,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,13.3,NaN,10.7,16.5,1739.0,Total,NaN,NaN,NaN,NaN,NaN,NaN,"(34.86597028, -111.763811277)",OWS1,Q038,4
2,2019,District of Columbia,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,17.1,NaN,16.2,17.9,8978.0,Total,NaN,NaN,NaN,NaN,NaN,NaN,"(38.890371385, -77.031961127)",OWS1,Q038,11
4,2019,Maryland,Obesity / Weight Status,Percent of students in grades 9-12 who have an...,16.7,NaN,14.5,19.2,2573.0,NaN,NaN,NaN,NaN,NaN,NaN,2 or more races,"(39.290580964, -76.609260111)",OWS1,Q039,24
5,2011,Rhode Island,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,11.5,NaN,8.9,14.8,1199.0,NaN,NaN,NaN,NaN,9th,NaN,NaN,"(41.708280193, -71.522470314)",OWS1,Q038,44
6,2019,Montana,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,12.2,NaN,10.0,14.9,1045.0,NaN,NaN,NaN,NaN,10th,NaN,NaN,"(47.066528972, -109.424420645)",OWS1,Q038,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133339,2022,Wyoming,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,37.3,NaN,32.8,42.0,663.0,NaN,NaN,NaN,NaN,NaN,"$50,000 - $74,999",NaN,"(43.23554134300048, -108.10983035299967)",OWS1,Q037,56
133340,2022,Wyoming,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,24.5,NaN,16.3,35.3,111.0,NaN,NaN,NaN,NaN,NaN,"Less than $15,000",NaN,"(43.23554134300048, -108.10983035299967)",OWS1,Q037,56
133342,2022,Wyoming,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,35.2,NaN,30.6,40.0,450.0,NaN,35 - 44,NaN,NaN,NaN,NaN,NaN,"(43.23554134300048, -108.10983035299967)",OWS1,Q036,56
133343,2022,Wyoming,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,35.3,NaN,30.2,40.7,512.0,NaN,NaN,NaN,NaN,NaN,"$35,000 - $49,999",NaN,"(43.23554134300048, -108.10983035299967)",OWS1,Q037,56
133344,2022,Wyoming,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,41.0,NaN,31.9,50.8,146.0,NaN,NaN,Less than high school,NaN,NaN,NaN,NaN,"(43.23554134300048, -108.10983035299967)",OWS1,Q036,56